.plus-icon{
    background: url('@/assets/icon/Sprites.4b10a131.svg') no-repeat -801px -313px;
	width: 14px;
	height: 14px;
}
.heart_black-icon{
	background: url('@/assets/icon/heart-icon.png') no-repeat;
	width: 24px;
	height: 24px;
}
.heart_active-icon{
	background: url('@/assets/icon/heart-active-icon.png') no-repeat;
	width: 24px;
	height: 24px;
}
.comment-icon{
	background: url('@/assets/icon/Sprites.4b10a131.svg') no-repeat -568px -30px;
	width: 24px;
	height: 24px;
}
.arrow_down_black-icon{
	background: url('@/assets/icon/Sprites.64af8f61.svg') no-repeat -371px -364px;
	width: 10px;
	height: 8px;
	transform: scale(2);

}
.arrow_up_black-icon{
	background: url('@/assets/icon/Sprites.64af8f61.svg') no-repeat -371px -364px;
	width: 10px;
	height: 8px;
	transform: scale(2) rotate(180deg);
}
.close-icon{
	background: url('@/assets/icon/close.png') no-repeat;
	width: 18px;
	height: 18px;
}
.option-icon{
	background: url('@/assets/icon/Sprites.4b10a131.svg') no-repeat -847px -35px;
	width: 16px;
	height: 14px;
}